$orange: #f6961e;

$blue-light: #6cb4da;
$gray-light-bg: #fafafa;
$gray-light-text: #9a9a9a;
$gray-text: #3b3e47;
$gray-dark: #393d46;

//Disable colors
$gray-desable-bg: #f0f1f3;
$gray-desable-text: #c1c2c4;
$white: #fff;